<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <% if user_signed_in? %>
    <h2>Hello user</h2>
    <p><%= current_user.email %></p>
  <% else %>
    <h2>Please Sign In</h2>
  <% end %>
</div>
